@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}
/* disable overscroll in viewport */
body {
  overscroll-behavior: none;
}

.borderBlack {
  @apply border border-black/10;
}

/* theme toggle button ping */
.animate-ping {
  animation: ping 5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  25%,
  75% {
    transform: scale(1.2);
    transition: linear;
    opacity: 0.3;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: rgb(0 0 0 / 56%) 0px 3px 12px;
  }

  .text-gradient {
    background: linear-gradient(to right bottom, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.38));
    background-clip: text;
    color: transparent;
  }

  .mask-radial-faded {
    mask-image: radial-gradient(circle at center center, black, transparent 80%)
  }

  .mask-linear-faded {
    mask-image: linear-gradient(black, transparent 70%)
  }

  .mask-keyboard {
    mask-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.57) 33.98%, black 100%);
  }

  .mask-shortcutkeys {
    mask-image: linear-gradient(to right, transparent, black 40%, black calc(60%), transparent 100%);
  }
}
